body {
    background: url("https://wallpaperplay.com/walls/full/0/8/1/52782.jpg");
    background-size: cover;
}

a {
    color: darkslateblue;
    font-weight: 300;
}

#questionBox {
    width: 70%;
    background-color: brown;
    border-radius: 15px;
}

.form-inline {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#toDoList {
    background-color: burlywood;
    min-height: 120px;
    border-radius: 15px;
}

#historyList {
    background-color: chocolate;
    min-height: 120px;
    border-radius: 15px;
}

.row {
    display: flex;
    justify-content: center;
}

.col {
    text-align: center;
}

form {
    width: 50%;
    margin: auto;
}